.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center ;
  width: 20%;
  padding: 20px;
  justify-content: space-between;
  overflow: hidden;
  cursor: pointer;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 10px;
}

.main {
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  max-width: 170px;
  margin: auto;
  text-align: center ;
  /* width: 25%; */
  padding: 10px;
  justify-content: space-between;
  overflow: hidden;
  cursor: pointer;
  justify-content: space-between;
  margin-top: 25px;
  /* margin-bottom: 80%; */
}
